*{
    margin: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}
#particles-js{
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed;
    background-color: #000000;

}.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.list figure img{
    width: 5em;
}
.list__items{
    margin: 2% 10%;
    list-style: none;
}
.items__a:hover{
    color: #0000ff;
}
.items__a{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.webtech{
    margin-left: 3vw;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container__p{
    align-items: center;
    display: inherit;
}
.icons__container{
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.welcome__title{
    border: 2px solid #fff;
    border-radius: 15px;
    line-height: 2.5em;
    font-size: 1.5em;
    padding: 0.9em;
    background-color: #000000;
    
}
strong{
    color: #0000ff;
}
.hero__container{
    display: inherit;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;    
}
.projects{
    background-color: #000000;
    display: flex;
    flex-direction: column;

}

.projects__container{
    width: 80%;
    margin: auto;
}
.projects__articles{
    padding: 1em;
    border: 2px solid #fff;
    border-radius: 10px;
    margin: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.projects__articles div a{
    color: #00ace6;
    text-decoration: none;
}
.projects__articles div ul{
    margin-left: 10px;
}
.projects__articles figure img{
    width: 30vw;

}
.contact__container{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width:850px){
    .projects__articles{
        flex-wrap:wrap;
        margin: 0;
        margin-bottom:4em ;
    }.projects__articles figure img{
        width: 60vw;
    }
    
}
@media screen and (max-width:580px){
    .contact__container{
        flex-wrap: wrap;
        justify-content: center;
    }.projects__articles div{
        font-size: 13px;
    }
}


/*h*/